<!DOCTYPE HTML>
{% load static %}
<html language = "en">
		<head>
			<title>About us - University of Advanced Information Technologies</title>
			<meta charset="utf-8">
			<link rel="stylesheet" href="{% static 'Css/about_us.css' %}"/>
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
			<link rel="icon" href="{% static 'Images/Лого ВУЗа полное _EN.png' %}" type="image/icon-type">
		</head>
		<body>
			<section class="hat">
				<section class="left_hat">
					<div class="burger_menu"><img src="{% static 'Images/Бургерное меню.png' %}"></div>
					<div class="logo"><a href="/"><img src="{% static 'Images/Лого ВУЗа полное, маленькое.png' %}"></a></div>
				</section>
				<section class="right_hat">
					<div class="switch_theme"><img src="{% static 'Images/Луна.png' %}"></div>
					<div class="EN"><a href="about_us_EN"><img src="{% static 'Images/En_active.png' %}"></a></div>
					<div class="RU"><a href="about_us"><img src="{% static 'Images/Ru.png' %}"></a></div>
					<div class="profile"><img src="{% static 'Images/Личный кабинет.png' %}"></div>
				</section>
			</section>
			<nav>
				<a href="_EN">Main</a>
				<a href="about_us_EN">About</a>
				<a href="schedule_EN">Schedule</a>
			</nav>
			<main role="main">
				<section>
					<div class="about">
						<h2><b>About</b></h2>
						<p>							
							<b>The University strives to form a new generation of IT specialists who are ready to work in conditions of rapid technological progress and global digitalization. UPIT is aimed at combining theoretical training with practical skills that are in demand in real work.</b>
						</p>
						<h3>Key areas of study and research:</h3>
						<ol>
							<li><b>Artificial intelligence and machine learning – the development of intelligent systems capable of analyzing data, predicting events and automating processes.</b></li>
							<li><b>Cybersecurity – ensuring the security of digital systems and data, including protection against hacker attacks and the development of encryption tools.</b></li>
							<li><b>Software development is the creation of applications, web services and other IT products for business, science and the social sphere.</b></li>
							<li><b>Internet of Things (IoT) technologies – development of solutions for combining physical devices into a single intelligent network.</b></li>
							<li><b>Multimedia technology and design is a combination of technology and creativity to create digital content.</b></li>
						</ol>
					</div>
					<div class="why">
						<h2><b>Why us?</b></h2>
						<img src="{% static 'Images/Элемент почему мы.png' %}">
						<p><b>A unique training program developed in collaboration with leading IT companies.</b></p>
						<p><b>Access to modern laboratories and research centers.</b></p>
						<p><b>Access to modern laboratories and research centers.</b></p>
						<p><b>A strong teaching staff, including both scientists and practitioners from the IT industry.</b></p>
						<p><b>The development of startups and the implementation of student projects in the university's own incubator.</b></p>
					</div>
				</section>
			</main>
			<section class="profile_enter">
				<form action = "index" method = "post">
					{% csrf_token %}
					<img src="{% static 'Images/Крестик.png' %}" class="exit_profile_enter">
					<h2>Log in to your personal account</h2>
					<input name="name_user" placeholder="Имя пользователя" type="text" required="true">
					<input name="pass_user" placeholder="Пароль" type="password" required="true">
					<input type="submit" value="Войти" class="submit_profile">	
				</form>
			</section>
			<section class="side_menu">
			</section>
			<footer>
				<h1>Contacts</h1>
				<address>
					<p>E-mail:<a href="mailto:upit_edu@gmail.com">upit_edu@gmail.com</a></p>
					<p>Phone number:<a href="tel:+7999999999">8(999)99-99-99</a></p>
				</address>
			</footer>
			<script>
				let tech_support_img = "{% static 'Images/Техническая-поддержка.png' %}";
				let exit_img = "{% static 'Images/Крестик в кружке.png' %}";

				let RU_active_img = "{% static 'Images/Ru_active.png' %}";

				let moon_img = "{% static 'Images/Луна.png' %}";
				let sun_img = "{% static 'Images/Солнце.png' %}";

				let logo_dark = "{% static 'Images/Лого ВУЗа полное тёмная.png' %}";
				let logo_dark_en = "{% static 'Images/Лого ВУЗа полное тёмная en.png' %}";
				let logo = "{% static 'Images/Лого ВУЗа полное, маленькое.png' %}";
				let logo_en = "{% static 'Images/Лого ВУЗа полное _EN.png' %}";

				/*Переключение темы, переменные*/
				var pageName = window.location.href.split("/").slice(-1)[0];
				if (pageName.indexOf("EN") > 0){
					pageName = pageName.slice(0, pageName.indexOf("EN")-1);
				}
				if (pageName == ""){
					pageName = "index";
				}
				let css_link_dark = "{% static 'Css/' %}" + pageName + "_dark.css";
				let css_link_default = "{% static 'Css/' %}" + pageName + ".css";
			</script>
			<script src="{% static 'JS/about_us.js' %}"></script>
		</body>
</html>
