<!DOCTYPE HTML>
{% load static %}
<html language = "ru">
		<head>
			<title>Главная - Университет передовых информационных технологий</title>
			<meta charset="utf-8">
			<link rel="stylesheet" href="{% static 'Css/index.css' %}" />
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
			<link rel="icon" href="{% static 'Images/Лого ВУЗа неполное.png' %}" type="image/icon-type">
		</head>
		<body>
			<section class="hat">
				<section class="left_hat">
					<div class="burger_menu"><img src="{% static 'Images/Бургерное меню.png' %}"></div>
					<div class="logo"><a href="/"><img src="{% static 'Images/Лого ВУЗа полное, маленькое.png' %}"></a></div>
				</section>
				<section class="right_hat">
					<div class="switch_theme"><img src="{% static 'Images/Луна.png' %}"></div>
					<div class="EN"><a href="_EN"><img src="{% static 'Images/En.png' %}"></a></div>
					<div class="RU"><a href="/"><img src="{% static 'Images/Ru_active.png' %}"></a></div>
					<div class="profile"><img src="{% static 'Images/Личный кабинет.png' %}"></div>
				</section>
			</section>
			<nav>
				<a href="/">Главная</a>
				<a href="about_us">О нас</a>
				<a href="schedule">Расписание</a>
			</nav>
			<main role="main">
				<div class="news">
					<img src="{% static 'Images/УПИТ мы открылись.png' %}" class="news_img_1">
					<img src="{% static 'Images/Фото новостей 2.png' %}" class="news_img_2">
					<img src="{% static 'Images/Фото новостей 3.jpg' %}" class="news_img_3">
				</div>
				<button class="arrow_left"><img src="{% static 'Images/Стрелка влево.png' %}"></button>
					<button class="arrow_right"><img src="{% static 'Images/Стрелка вправо.png' %}"></button>
				<div class="wrapper">
					<div class="typing_1"></div>
					<div class="typing_2"></div>
				</div>
				<section class="info">
					<div class="block_1">
						<img src="{% static 'Images/Профессор прозрачный.png' %}">
						<h2>Кол-во преподавателей</h2>
						<p><b>160</b></p>
					</div>
					<div class="block_2">
						<img src="{% static 'Images/Студент.png' %}">
						<div>
							<h2>Кол-во студентов</h2>
							<p><b>6743</b></p>
						</div>
					</div>
					<div class="block_3">
						<img src="{% static 'Images/Иностранный студент.png' %}">
						<div>
							<h2>Кол-во Иностранных студентов</h2>
							<p><b>421</b></p>
						</div>
					</div>
				</section>
				<div class="line"></div>
				<section class="announcement">
					<h2>Анонсы</h2>
					<div class="an_1">
						<h2>Ноябрь</h2>
						<h1>18</h1>
						<p><b>Участие во Всероссийской олимпиаде</b></p>
					</div>
					<div class="an_2">
						<h2>Декабрь</h2>
						<h1>4</h1>
						<p><b>Межвузовская научная конференция</b></p>
					</div>
					<div class="an_3">
						<h2>Февраль</h2>
						<h1>12</h1>
						<p><b>УПИТ станет участником междунароного форума</b></p>
					</div>
					<div class="an_4">
						<h2>Март</h2>
						<h1>14</h1>
						<p><b>Открытие межвузовского <br>кампуса</br></b></p>
					</div>
					<div class="an_5">
						<h2>Март</h2>
						<h1>23</h1>
						<p><b>Совместный проект с Правительством РФ</b></p>
					</div>
					<div class="an_6">
						<h2>Апрель</h2>
						<h1>5</h1>
						<p><b>Создание новой <br>программы повышения</br> квалификации</b></p>
					</div>
				</section>
			</main>
			<section class="profile_enter">
				<form action = "index" method = "post">
					{% csrf_token %}
					<img src="{% static 'Images/Крестик.png' %}" class="exit_profile_enter">
					<h2>Вход в личный кабинет</h2>
					<input name="name_user" placeholder="Имя пользователя" type="text" required="true">
					<input name="pass_user" placeholder="Пароль" type="password" required="true">
					<input type="submit" value="Войти" class="submit_profile">	
				</form>
			</section>
			<section class="side_menu">
			</section>
			<footer>
				<h1>Контакты</h1>
				<address>
					<p>E-mail:<a href="mailto:upit_edu@gmail.com">upit_edu@gmail.com</a></p>
					<p>Номер телефона:<a href="tel:+7999999999">8(999)99-99-99</a></p>
				</address>
			</footer>
			<script>
				let tech_support_img = "{% static 'Images/Техническая-поддержка.png' %}";
				let exit_img = "{% static 'Images/Крестик в кружке.png' %}";

				let RU_active_img = "{% static 'Images/Ru_active.png' %}";

				let moon_img = "{% static 'Images/Луна.png' %}";
				let sun_img = "{% static 'Images/Солнце.png' %}";

				let logo_dark = "{% static 'Images/Лого ВУЗа полное тёмная.png' %}";
				let logo_dark_en = "{% static 'Images/Лого ВУЗа полное тёмная en.png' %}";
				let logo = "{% static 'Images/Лого ВУЗа полное, маленькое.png' %}";
				let logo_en = "{% static 'Images/Лого ВУЗа полное _EN.png' %}";

				/*Переключение темы, переменные*/
				var pageName = window.location.href.split("/").slice(-1)[0];
				if (pageName.indexOf("EN") > 0){
					pageName = pageName.slice(0, pageName.indexOf("EN")-1);
				}
				if (pageName == ""){
					pageName = "index";
				}
				let css_link_dark = "{% static 'Css/' %}" + pageName + "_dark.css";
				let css_link_default = "{% static 'Css/' %}" + pageName + ".css";
			</script>
			<script src="{% static 'JS/index.js' %}"></script>
		</body>
</html>
