html{
    background-image: url("../Images/Фон\ большой.png");
    font-family: "Roboto Condensed";
}
body{
    margin: 0px;
}

/*Шапка*/
.hat{
    display:grid; 
    grid-template-rows:1fr; 
    grid-template-columns:repeat(2,1fr);
}
.hat .burger_menu{
    padding-bottom: 3em;
    padding-right: 10em;
    animation: elements_appear 2.1s;
}
.hat .right_hat{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,0.3fr);
    place-items:center;
    padding-left: 30em;
    cursor:pointer;
}
.hat .right_hat .switch_theme{
    animation: elements_appear 2s;
}
.hat .right_hat .EN{
    animation: elements_appear 1.3s;
}
.hat .right_hat .RU{
    animation: elements_appear 1.5s;
}
.hat .right_hat .profile{
    animation: elements_appear 2s;
}
@keyframes elements_appear {
    from{
        position: relative;
        top: -300px;
    }
    to{
        position: relative;
        top:0px;
    }
}
.hat .left_hat{
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 2em;
    cursor:pointer;
}
.hat .left_hat .burger_menu{
    padding-top: 2em;
}


/*Навигационное меню*/
nav{
    display: grid; 
    grid-template-columns: 250px 250px 250px; 
    grid-template-rows: 1fr;
    grid-gap: 0em;
    padding-left: 30%;
    width: 70%;
    background-color: #EEEEEE;
    margin-left: 0px;
    margin-bottom: 0.7em;
    height: 70px;
	font-family:"Roboto Condensed", bold;
	font-size: 40px;
    place-items: center;
    position: absolute;
    left: 0;
}
nav a{
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #333333;
    text-decoration: none;
    font-weight: bolder;
}
nav a:hover{
    background-color: #FFFFFF;
    animation: nav_text_hover 0.5s forwards;
}
@keyframes nav_text_hover {
    from{
        color: #333333;
        background-color: #EEEEEE;
        border-bottom: transparent;
    }
    to{
        color: #0b00cf;
        background-color: #FFFFFF;
        border-bottom: 2px solid #0b00cf;
    }
}



/*Новостная лента*/
.news:nth-child(1){
    width: 100%;
    overflow: hidden;
    margin-left: 0px;
    margin-right: 0px;
}
.news{
    display: grid;
    margin-top: 6em;
    height: 35em;
    width: 100%;
}
.news img {
    width: 100%;
    grid-area: 1/1;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: 1;
    margin-left: 0px;
    margin-right: 0px;
}

.news img.active {
    opacity: 1;
    z-index: 2;
}
.news button{
    background-color: transparent;
    border-color: transparent;
}
.arrow_left{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 55%;
    z-index: 3;
    cursor:pointer;
}
.arrow_right{
    background-color: transparent;
    border-color: transparent;
    position: absolute;
    top: 55%;
    left: 96%;
    z-index: 3;
    cursor:pointer;
}


/*Эффект 101010101"*/
.wrapper {
	height: 110px;
	display: grid;
    overflow: hidden;
    margin-left: 10px;
}
.typing_1{
    color: #0b00cf;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 40px;
}
.typing_1::after{
    animation-name: typing;
    animation-duration: 39.766s;
    animation-fill-mode: forwards;
    content: "";
}
.typing_2{
    color: #0b00cf;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 40px;
}
.typing_2::after{
    animation-name: typing;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    content: "";
}
@keyframes typing{
    0% {
        content: "";
    }
    3.0056681587285623% {
        content: "";
    }
    3.1056681587285624% {
        content: "1";
    }
    3.7701403208771316% {
        content: "1";
    }
    3.8701403208771317% {
        content: "11";
    }
    4.660348036010663% {
        content: "11";
    }
    4.7603480360106625% {
        content: "111";
    }
    5.4348790423980295% {
        content: "111";
    }
    5.534879042398029% {
        content: "1110";
    }
    6.211924759845093% {
        content: "1110";
    }
    6.311924759845093% {
        content: "11100";
    }
    7.084529497560731% {
        content: "11100";
    }
    7.184529497560731% {
        content: "111000";
    }
    7.962163657395767% {
        content: "111000";
    }
    8.062163657395766% {
        content: "1110001";
    }
    8.751782930141328% {
        content: "1110001";
    }
    8.851782930141328% {
        content: "11100011";
    }
    9.483563848513805% {
        content: "11100011";
    }
    9.583563848513805% {
        content: "111000110";
    }
    11.55568576170598% {
        content: "111000110";
    }
    11.65568576170598% {
        content: "1110001101";
    }
    12.496187698033498% {
        content: "1110001101";
    }
    12.596187698033498% {
        content: "11100011010";
    }
    13.574998742644471% {
        content: "11100011010";
    }
    13.67499874264447% {
        content: "111000110101";
    }
    14.67392747573304% {
        content: "111000110101";
    }
    14.77392747573304% {
        content: "1110001101010";
    }
    15.702444299150029% {
        content: "1110001101010";
    }
    15.802444299150029% {
        content: "11100011010101";
    }
    16.808917165417693% {
        content: "11100011010101";
    }
    16.908917165417694% {
        content: "111000110101010";
    }
    17.80222803399889% {
        content: "111000110101010";
    }
    17.90222803399889% {
        content: "1110001101010101";
    }
    18.664773927475732% {
        content: "1110001101010101";
    }
    18.764773927475733% {
        content: "11100011010101010";
    }
    19.668143640295728% {
        content: "11100011010101010";
    }
    19.76814364029573% {
        content: "111000110101010101";
    }
    20.73941055172761% {
        content: "111000110101010101";
    }
    20.83941055172761% {
        content: "1110001101010101011";
    }
    21.71763315395061% {
        content: "1110001101010101011";
    }
    21.817633153950613% {
        content: "11100011010101010111";
    }
    22.499708293517074% {
        content: "11100011010101010111";
    }
    22.599708293517075% {
        content: "111000110101010101110";
    }
    23.467872051501285% {
        content: "111000110101010101110";
    }
    23.567872051501286% {
        content: "1110001101010101011100";
    }
    24.468727053261578% {
        content: "1110001101010101011100";
    }
    24.56872705326158% {
        content: "11100011010101010111000";
    }
    25.243258059648948% {
        content: "11100011010101010111000";
    }
    25.34325805964895% {
        content: "111000110101010101110001";
    }
    26.083171553588496% {
        content: "111000110101010101110001";
    }
    26.183171553588497% {
        content: "1110001101010101011100010";
    }
    27.091570688527888% {
        content: "1110001101010101011100010";
    }
    27.19157068852789% {
        content: "11100011010101010111000100";
    }
    28.14271991148217% {
        content: "11100011010101010111000100";
    }
    28.242719911482173% {
        content: "111000110101010101110001000";
    }
    28.99017753860081% {
        content: "111000110101010101110001000";
    }
    29.090177538600813% {
        content: "1110001101010101011100010001";
    }
    29.96337071870442% {
        content: "1110001101010101011100010001";
    }
    30.063370718704423% {
        content: "11100011010101010111000100011";
    }
    30.83094603430066% {
        content: "11100011010101010111000100011";
    }
    30.93094603430066% {
        content: "111000110101010101110001000111";
    }
    31.41184428909118% {
        content: "111000110101010101110001000111";
    }
    31.511844289091183% {
        content: "1110001101010101011100010001110";
    }
    32.39761102449329% {
        content: "1110001101010101011100010001110";
    }
    32.49761102449329% {
        content: "11100011010101010111000100011100";
    }
    33.375833626716286% {
        content: "11100011010101010111000100011100";
    }
    33.47583362671629% {
        content: "111000110101010101110001000111001";
    }
    34.30124729668561% {
        content: "111000110101010101110001000111001";
    }
    34.40124729668561% {
        content: "1110001101010101011100010001110011";
    }
    35.18391087864004% {
        content: "1110001101010101011100010001110011";
    }
    35.28391087864004% {
        content: "11100011010101010111000100011100110";
    }
    36.17219232510185% {
        content: "11100011010101010111000100011100110";
    }
    36.27219232510185% {
        content: "111000110101010101110001000111001101";
    }
    37.23088568123523% {
        content: "111000110101010101110001000111001101";
    }
    37.33088568123523% {
        content: "1110001101010101011100010001110011011";
    }
    38.188990594980645% {
        content: "1110001101010101011100010001110011011";
    }
    38.288990594980646% {
        content: "11100011010101010111000100011100110110";
    }
    39.39102248151688% {
        content: "11100011010101010111000100011100110110";
    }
    39.49102248151688% {
        content: "111000110101010101110001000111001101100";
    }
    40.467318815068154% {
        content: "111000110101010101110001000111001101100";
    }
    40.567318815068155% {
        content: "1110001101010101011100010001110011011000";
    }
    41.34998239702258% {
        content: "1110001101010101011100010001110011011000";
    }
    41.44998239702258% {
        content: "11100011010101010111000100011100110110000";
    }
    42.383528642558964% {
        content: "11100011010101010111000100011100110110000";
    }
    42.483528642558966% {
        content: "111000110101010101110001000111001101100000";
    }
    43.2812804908716% {
        content: "111000110101010101110001000111001101100000";
    }
    43.3812804908716% {
        content: "1110001101010101011100010001110011011000001";
    }
    44.25447367097521% {
        content: "1110001101010101011100010001110011011000001";
    }
    44.35447367097521% {
        content: "11100011010101010111000100011100110110000011";
    }
    45.272931650153396% {
        content: "11100011010101010111000100011100110110000011";
    }
    45.3729316501534% {
        content: "111000110101010101110001000111001101100000111";
    }
    46.13044812151084% {
        content: "111000110101010101110001000111001101100000111";
    }
    46.23044812151084% {
        content: "1110001101010101011100010001110011011000001110";
    }
    47.24446512095761% {
        content: "1110001101010101011100010001110011011000001110";
    }
    47.34446512095761% {
        content: "11100011010101010111000100011100110110000011100";
    }
    48.34590856510587% {
        content: "11100011010101010111000100011100110110000011100";
    }
    48.445908565105874% {
        content: "111000110101010101110001000111001101100000111000";
    }
    49.32413116732888% {
        content: "111000110101010101110001000111001101100000111000";
    }
    49.42413116732888% {
        content: "1110001101010101011100010001110011011000001110001";
    }
    50.211824171402704% {
        content: "1110001101010101011100010001110011011000001110001";
    }
    50.311824171402705% {
        content: "11100011010101010111000100011100110110000011100010";
    }
    51.290635216013676% {
        content: "11100011010101010111000100011100110110000011100010";
    }
    51.39063521601368% {
        content: "111000110101010101110001000111001101100000111000100";
    }
    52.56056430116179% {
        content: "111000110101010101110001000111001101100000111000100";
    }
    52.66056430116179% {
        content: "1110001101010101011100010001110011011000001110001000";
    }
    53.39796308404164% {
        content: "1110001101010101011100010001110011011000001110001000";
    }
    53.49796308404164% {
        content: "11100011010101010111000100011100110110000011100010001";
    }
    54.40133279686163% {
        content: "11100011010101010111000100011100110110000011100010001";
    }
    54.50133279686163% {
        content: "111000110101010101110001000111001101100000111000100011";
    }
    55.354408288487654% {
        content: "111000110101010101110001000111001101100000111000100011";
    }
    55.454408288487656% {
        content: "1110001101010101011100010001110011011000001110001000110";
    }
    56.45585173263592% {
        content: "1110001101010101011100010001110011011000001110001000110";
    }
    56.55585173263592% {
        content: "11100011010101010111000100011100110110000011100010001100";
    }
    57.361147714127654% {
        content: "11100011010101010111000100011100110110000011100010001100";
    }
    57.461147714127655% {
        content: "111000110101010101110001000111001101100000111000100011001";
    }
    58.37206156012674% {
        content: "111000110101010101110001000111001101100000111000100011001";
    }
    58.47206156012674% {
        content: "1110001101010101011100010001110011011000001110001000110011";
    }
    59.139048433335006% {
        content: "1110001101010101011100010001110011011000001110001000110011";
    }
    59.23904843333501% {
        content: "11100011010101010111000100011100110110000011100010001100110";
    }
    60.23797716642358% {
        content: "11100011010101010111000100011100110110000011100010001100110";
    }
    60.337977166423585% {
        content: "111000110101010101110001000111001101100000111000100011001100";
    }
    61.26397927878087% {
        content: "111000110101010101110001000111001101100000111000100011001100";
    }
    61.363979278780874% {
        content: "1110001101010101011100010001110011011000001110001000110011000";
    }
    62.26734899160087% {
        content: "1110001101010101011100010001110011011000001110001000110011000";
    }
    62.36734899160087% {
        content: "11100011010101010111000100011100110110000011100010001100110000";
    }
    63.026791731630034% {
        content: "11100011010101010111000100011100110110000011100010001100110000";
    }
    63.126791731630036% {
        content: "111000110101010101110001000111001101100000111000100011001100001";
    }
    64.13829402001711% {
        content: "111000110101010101110001000111001101100000111000100011001100001";
    }
    64.23829402001711% {
        content: "1110001101010101011100010001110011011000001110001000110011000011";
    }
    65.33529648443395% {
        content: "1110001101010101011100010001110011011000001110001000110011000011";
    }
    65.43529648443395% {
        content: "11100011010101010111000100011100110110000011100010001100110000110";
    }
    66.58510788110448% {
        content: "11100011010101010111000100011100110110000011100010001100110000110";
    }
    66.68510788110447% {
        content: "111000110101010101110001000111001101100000111000100011001100001100";
    }
    68.1291404717598% {
        content: "111000110101010101110001000111001101100000111000100011001100001100";
    }
    68.22914047175979% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001";
    }
    69.25573102650506% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001";
    }
    69.35573102650505% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011";
    }
    70.21383594025048% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011";
    }
    70.31383594025047% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110";
    }
    71.63213297792085% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110";
    }
    71.73213297792084% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100";
    }
    72.61789971332294% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100";
    }
    72.71789971332294% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000";
    }
    73.7947844892622% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000";
    }
    73.8947844892622% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000";
    }
    74.90377206658957% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000";
    }
    75.00377206658956% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001";
    }
    76.01527435497663% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001";
    }
    76.11527435497662% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011";
    }
    77.62720414424383% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011";
    }
    77.72720414424383% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110";
    }
    78.59788261328775% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110";
    }
    78.69788261328775% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001100";
    }
    79.58364934868985% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001100";
    }
    79.68364934868984% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011001";
    }
    80.71023990343511% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011001";
    }
    80.8102399034351% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110011";
    }
    81.76390383744909% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110011";
    }
    81.86390383744909% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001100110";
    }
    83.32805411658202% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001100110";
    }
    83.42805411658202% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011001100";
    }
    85.3976613187145% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011001100";
    }
    85.49766131871449% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110011000";
    }
    86.78326711260875% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110011000";
    }
    86.88326711260875% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001100110000";
    }
    87.82435749132425% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001100110000";
    }
    87.92435749132424% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011001100001";
    }
    89.03141879997989% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011001100001";
    }
    89.13141879997988% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110011000011";
    }
    90.2862596187698% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110011000011";
    }
    90.3862596187698% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001100110000111";
    }
    91.56373283709704% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001100110000111";
    }
    91.66373283709703% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011001100001111";
    }
    93.08261831715537% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011001100001111";
    }
    93.18261831715536% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110011000011110";
    }
    94.19160589448273% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110011000011110";
    }
    94.29160589448273% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001100110000111100";
    }
    95.38106422572048% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001100110000111100";
    }
    95.48106422572047% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011001100001111000";
    }
    96.60572851179401% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011001100001111000";
    }
    96.705728511794% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110011000011110001";
    }
    97.65939244580798% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110011000011110001";
    }
    97.75939244580798% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001100110000111100011";
    }
    98.79101242267265% {
        content: "1110001101010101011100010001110011011000001110001000110011000011001100001100110000111100011";
    }
    98.89101242267265% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011001100001111000111";
    }
    99.9% {
        content: "11100011010101010111000100011100110110000011100010001100110000110011000011001100001111000111";
    }
    100% {
        content: "111000110101010101110001000111001101100000111000100011001100001100110000110011000011110001111";
    }
}


/*Кол-во преподавателей, студентов и т.д.*/
.info{
    width:42em;
    height: 18em;
    display:grid; 
    grid-template-columns:21em 21em; 
    grid-template-rows:9em 9em;
    color:#FFFFFF;
    background-color: #C10A28;
    text-align: center;
    border-radius: 16px;
    margin-left: 5.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 36px;
}
.info h2{
    font-size: 36px;
}
.block_1{
    grid-row-start:1;grid-row-end:3;
    align-items: center;
}
.info .block_2{
    background-color: #0a00cf80;
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
}
.info .block_3{
    background-color: #FF2D2B;
    display: grid;
    grid-template-columns: 220px 1fr;
    align-items: center;
}


/*Анонсы*/
.announcement{
    display:grid; 
    grid-template-columns:18.75em 18.75em 18.75em; 
    grid-template-rows:10em 18.75em 18.75em;
    text-align: center;
    justify-content: center;
    grid-column-gap: 15em;
    grid-row-gap: 3em;
}
.line{
    background-color: #0b00cf;
    margin-left: 4em;
    margin-bottom: 1em;
    width: 107em;
    height: 0.5em;
    animation: appear_line 3s;   
}
@keyframes appear_line{
    from{width: 0;}
    to{width: 107em;}
}
.announcement > h2{
    font-size: 4em;
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start: 1; 
}
.announcement > div{
    background-color: #0b00cf;
    color: #FFFFFF;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 30% 40%;
    align-items: center;
}
.announcement > div > h2{
    font-size: 36px;
}
.announcement > div > h1{
    font-size: 64px;
}
.announcement > div > p{
    font-size: 20px;
}



/*Вход в личный кабинет*/
.profile_enter{
    text-align: center;
}
.profile_enter > form{
    background-color: #FFFFFF;
    border: solid #0b00cf 2px;
    border-radius: 16px;
    position: fixed;
    justify-content: center;
    align-content: center;
    display: grid; 
    grid-template-columns: 70%;
    grid-row-gap: 2em;
    grid-template-rows: 20% repeat(3,10%); 
    width: 30em;
    height: 40em;
}
.profile_enter form h2{
    font-size: 36px;
}
.profile_enter.hidden form{  
    top:-100%;
    left: 37%;
    z-index: 5;
    transition: top ease-in-out 1s;
}
.profile_enter.showing form{
    z-index: 5;
    top: 18%;
    left:37%;
    transition: top ease-in-out 1s;
}
.profile_enter.hidden .exit_profile_enter{
    position: fixed;
    left: 60%;
    top:-100%;
    z-index: 5;
    transition: top ease-in-out 1s;
}
.profile_enter.showing form .exit_profile_enter{
    position: fixed;
    top:20%;
    left: 60%;
    transition: top ease-in-out 1s;
    cursor: pointer;
}
.profile_enter form input{
    font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 28px;
    border-radius: 8px;
    border: transparent;
    background-color: #EEEEEE;
    padding-left: 1em;
}
.profile_enter form input:focus{
    background-color: #FFFFFF;
}
.profile_enter form input:hover{
    background-color: #FFFFFF;
    border: solid #0b00cf 3px;
}
.profile_enter .submit_profile{
    background-color: #0b00cf;
    color: #FFFFFF;
    border: none;
    padding: 0px;
}
.profile_enter form .submit_profile:hover{
    background-color: #0b00cf;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.profile_enter .shadow_profile{
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000045;
    backdrop-filter: blur(2.5px);
}


/*Боковое меню*/
.side_menu .aside{
    position: fixed;
    background-color: #0b00cf;
    height: 100%;
    width: 30%;
    top: 0px;
    left: 0px;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    animation: aside_appear 1s;
    text-align: center;
}
.aside.showing{
    width: 30%;
    transition: width ease-in-out 1s;
}
.aside.hiding{
    width: 0%;
    transition: width ease-in-out 1s;
}
.aside a.showing{
    opacity: 1;
    transition: opacity linear 0.3s;
}
.aside a.hiding{
    opacity: 0;
    transition: opacity linear 0.3s;
}
.side_menu .shadow{
    z-index: 4;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #00000025;
    backdrop-filter: blur(2.5px);
}
.aside a{
    color: #FFFFFF;
    display:inline-block;
    display: inline-flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 64px;
    text-decoration: none;
    animation: aside_text_appear 1.5s;
}
.aside a:hover{
    background-color: #300A6E;
}
@keyframes aside_appear {
    from{width: 0;}
    to{width: 30%;}
}
@keyframes aside_text_appear{
    from{opacity: 0;}
    to{opacity: 1;}
}


/*Окно pop-up*/
.main_pop_up{
    position: fixed;
    bottom: 1em;
    right: 1em;
    background-color: #FFFFFF;
    width: 17%;
    height: 35%;
    border: 4px solid #0b00cf;
    z-index: 3;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 40% 60%;
    padding: 1em 1em 1em 2em;
    font-family: "Roboto Condensed";
    font-weight: bold;
    font-size: 1.25em;
    margin: 0px;
    border-radius: 1em;
    animation: pop_up_appear 1s;
}
.main_pop_up form{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end:2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 30%;
    grid-row-gap: 1em;
}
.main_pop_up form input{
    border-radius: 1em;
    background-color: #EEEEEE;
    border: transparent;
    font-family: inherit;
    font-size: inherit;
    text-align: top;
    padding-left: 1em;
    font-weight: bold;
}
.main_pop_up form input:hover{
    border: 2px solid #0b00cf;
    background-color: #FFFFFF;
}
.main_pop_up form input[type="submit"]{
    background-color: #0b00cf;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 0.5em;
}
.main_pop_up img:nth-child(4){
    position: fixed;
    bottom: 19em;
    right: 21em;
    cursor: pointer;
    animation: pop_up_appear 1s;
}
@keyframes pop_up_appear{
    from{
        bottom: -400px;
    }
}




/*Футер*/
footer{
    box-sizing: border-box;
    background-color: #EEEEEE;
    width: 100%;
    position: absolute;
    left:0;
    padding-left: 1em;
    color: #333333;
    margin-top: 5em;
}
footer > h1{
    font-size: 36px;
}
footer > address{
    font-size: 32px;
}
